@import "variables/global";
@import "reset";
@import "themes/normal";
@import "themes/dark";
@import "themes/orange.scss";

// body {
//     font-size: var(--font-m);  
//     font-family: var(--font-family-main);
//     color: var(--primary-color);
// }

.app,
.app_modal,
.app_drawer {
    font-size: var(--font-m);  
    font-family: var(--font-family-main);
    color: var(--primary-color); 
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.app_redesigned {
    background: var(--bg-redesigned);
    min-height: 100vh;
    font: var(--font-m-redesigned);
    color: var(--text-redesigned); 
}

.content-page {
    display: flex;
}



.test {
    color: var(--primary-color)
}