* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

*::-webkit-scrollbar {
    width: 12px;    /* ширина всей полосы прокрутки */
    height: 8px;         
}
  
*::-webkit-scrollbar-track {
    background: var(--card-bg);        /* цвет зоны отслеживания */
}
  
*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: 2px solid var(--card-bg);  /* отступ вокруг бегунка */
}

a {
    text-decoration: none;
}