.items {
    margin: 20px 0 0 30px;
    display: flex;
    flex-direction: column;
}

.item {
    margin-top : 10px;
    display: flex;
    align-items: center;
}

.itemRedesigned {
    margin-top : 10px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 16px;
}

.link {
    margin-left: 10px;
}


.collapsed {
    .link {
        display: none;
        transition: 0.2 opacity;
    }
}

.collapsedRedesigned {
    padding: 8px;
    .link {
        display: none;
        transition: 0.2 opacity;
        margin: 0;
    }
}

.active {
    background: linear-gradient(89.97deg, rgba(29, 89, 255,0.3) 1.15%, rgba(94, 211, 243, 0) 99.97%);
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 2px;
        left: 0;
        background: var(--accent-redesigned);
        height: 100%;
    }
}