.ArticleList {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-right: 20px;

}


.BIG {
    
    .card { 
        margin-bottom: 30px;
        width: 100%;
    }
}

.SMALL {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}