
.Page {
    flex-grow: 1;
    padding: 20px 21px 20px 40px;
    height: calc(100vh - var(--navbar-height));
    width: 100%;
    overflow-y: auto;
    flex-shrink: 100;
}

.PageRedesigned {
    overflow-y: auto;
    height: 100%;
}

.trigger {
    height: 20px;
    margin: 10px; 
}