.app_orange_theme {
    --bg-color: #EFA904;
    --inverted-bg-color: #FBF9F4;

    --primary-color: #C91A03;
    --secondary-color: #c54d03;

    --inverted-primary-color: #fed15f;
    --inverted-secondary-color: #ffaba0;
    //skeleton

    --skeleton-color: #EFA904;
    --skeleton-shadow: #373744;

    //Code
    --code-bg: #a1967c;

    //Card
    --card-bg: #e7bb56;

    //ListBox
    --listbox-bg: #e7bb56;
}